* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.first-content {
  background-image: url('../../assets/images/start-screen-gradient-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-main p {
  font-size: 1.3rem;
  color: #fff;
}

.main-nav a {
  color: #CDCDCD;
}

a {
  text-decoration: none;
}

.main-nav a {
  font-size: 1.5rem;
  transition: all 0.3s;
  padding-bottom: 0.2rem;
  line-height: 160%;
}

.main-nav a:hover {
  border-bottom: 3px solid #F1CDB3;
}

.header-main .main-nav a:hover {
  color: #FAFAFA;
}

.header-pets .main-nav a:hover {
  color: #292929;
}

.highlighted {
  border-bottom: 3px solid #F1CDB3;
  color: #fff;
}

.header-pets .highlighted {
  color: #292929;
}

.main-nav-list {
  list-style: none;
}

.heading-primary-main {
  color: #F1CDB3;
}

.logo-container {
  cursor: pointer;
}

.main-nav{
  display: flex;
  align-items: center;
}

/* .not-only-block {
  display: flex;
  flex-direction: column;
  gap: 4rem;
} */

.not-only-block p {
  font-size: 1.5rem;
  color: #CDCDCD;
  line-height: 160%;
  margin-bottom: 6rem;

}

h2 {
  font-size: 4.4rem;
  color: #fff;
  line-height: 130%;
}

.not-only-block {
  flex: 1;
  padding-bottom: 10rem;
}

.main-image-container {
  flex: 1.5;
}

.main-image-container {
  align-self: flex-end;
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.main-image {
  width: 100%;
}

.content-container {
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
}

.btn {
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: #292929;
  background-color: transparent;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #F1CDB3;
  width: 20.7rem;
  line-height: 130%;
}

.btn-secondary {
  background-color: #F1CDB3;
  line-height: 130%;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #F1CDB3;
}

.btn-pets {
  box-shadow: inset 0 0 0 2px #F1CDB3;
  line-height: 130%;
}

h3 {
  font-size: 3.5rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.096rem;
}

.section-about {
  background-color: #fff;
  height: 58.8rem;
}

.about-img-container, .text-container {
  flex: 1;
}

.about-img-container {
  height: 40rem;
}

.about-img-container img {
  height: 100%;
}

.text-container p {
  font-size: 1.5rem;
  color: #4C4C4C;
  line-height: 160%;
}

/* **************** */
/* SECTION FRIENDS */
/* **************** */

.section-friends {
  background-color: #F6F6F6;
  height: 87.7rem;
  text-align: center;
  padding: 8rem 0;
  position: relative;
}

.pets-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 6rem 0;
  justify-items: center;
  padding: 0 7rem;
}


/* .pets-grid::before, .pets-grid::after {
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
} */

.btn-left, .btn-right {
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  background-color: rgb(246, 246, 246);
  border-radius: 50%;
  top: 50%;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-left {
  left: 0;
  transform: translateX(100%);
}

.btn-right {
  right: 0;
  transform: translateX(-100%);
} 

.btn-right:hover, .btn-left:hover {
  background-color: #F1CDB3;
}

.pets-content {
  background-color: #fff;
  padding-bottom: 4rem;
  transition: all 0.3s;
}

.pets-content:hover {
  transform: translateY(-2rem);
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.20);
  background-color: #F6F6F6;
}

.pets-content:hover .btn-pets {
  background-color: #F1CDB3;
}

.pets-content img {
  transition: all 0.3s;
}

.pets-content:hover img {
  border-radius: 40%;
}

.pet-names {
  font-size: 2rem;
  color: #545454;
}

/* **************** */
/* SECTION HELP */
/* **************** */
.section-help {
  background-color: #fff;
  height: 61.1rem;
  text-align: center;
}

.help-item img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 3rem;
}

.center-grid {
  flex-direction: column;
  gap: 5rem;
}

.grid-help {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 7rem;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 8rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-help span {
  display: block;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
}

/* **************** */
/* SECTION DONATION */
/* **************** */

.section-donation {
  height: 46.2rem;
  background-color: #F6F6F6;
  padding-left: 10rem;
}

.section-donation p {
  font-size: 1.2rem;
  font-style: italic;
  color: #B2B2B2;
  width: 38rem;
  line-height: 2rem;
}

h5 {
  font-size: 1.5rem;
  color: #545454;
}

h4 {
  font-size: 2rem;
}

.donation-number {  
  color: #545454;
  padding: 0.5rem 1.75rem;
  width: 34.9rem;
  border-radius: 9px;
  line-height: 25px;
  background-color: #F1CDB3;
}

.donation-number span {
  text-align: center;
  vertical-align: -11px;
  margin-right: 0.75rem;
}

.donation-number a {
  color: #545454;
}

.donation-number a:hover {
  border-bottom: 2px solid #545454;
}

.donation-icon {
  width: 3rem;
  height: 100%;
}

.donation-flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.flex--column {
  flex-direction: column;
}

.donation-puppy-wrapper img {
  width: 85%;
}

.flex--jr {
  justify-content: right;
}


/* **************** */
/* FOOTER */
/* **************** */

footer {
  height: 35rem;
  background-image: url('../../assets/icons/footer-gradient-background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 6rem 0;
}

.footer-pin {
  height: 3.2rem;
}

.footer-img-container {
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}

footer h3 {
  color: #fff;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
} 

footer a {
  color: #F1CDB3;
  line-height: 115%;
}

footer h4 {
  color: #F1CDB3;  
}

footer h4 span img {
  width: 100%;
}

footer span {
  display: inline-block;
  width: 4rem;
  text-align: center;
  vertical-align: -8px;
  margin-right: 1.75rem;
}

.address-wrapper {
  display: flex;
  justify-content: center;
}

.address-wrapper span {
  margin-left: 0.4rem;
}

.address-wrapper span img{
  width: 100%;
}

footer img {
  width: 70%;
}

/* ************** */
/* PETS PAGE */
/* ************** */
.pets-header {
  max-width: 120rem;
  padding: 5.7rem 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #fff;
}

.heading-primary-pets {
  color: #545454;  
}

.header-pets p {
  color: #292929;
  font-size: 1.3rem;
}

.pets-nav {
  color: #545454;
}

.header-pets a {
  color: #545454;
}

.section-friends-page {
  text-align: center;
  padding: 5rem 0 10rem 0;
}

.pets-selection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 1rem;
  padding: 5rem 0;
}

.btn-slider {
 width: 5.2rem;
 height: 5.2rem;
 color: #292929;
 border: none;
 border-radius: 50%;
 font-size: 2rem;
 cursor: pointer;
 transition: all 0.3s;
}

.slider-current {
  background-color: #F1CDB3;
}

.slider-current:hover {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #F1CDB3
}

.slider-before {  
  box-shadow: inset 0 0 0 2px #CDCDCD;
  color: #CDCDCD;
}

.slider-after {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #F1CDB3;
}

.slider-after:hover {
  background-color: #F1CDB3;
}