* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.first-content {
  background-image: url('../../assets/images/start-screen-gradient-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-main p {
  font-size: 1.3rem;
  color: #fff;
}

.main-nav a {
  color: #CDCDCD;
}

a {
  text-decoration: none;
}

.main-nav a {
  font-size: 1.5rem;
  transition: all 0.3s;
  padding-bottom: 0.2rem;
  line-height: 160%;
}

.main-nav a:hover {
  border-bottom: 3px solid #F1CDB3;
}

.header-main .main-nav a:hover {
  color: #FAFAFA;
}

.header-pets .main-nav a:hover {
  color: #292929;
}

.highlighted {
  border-bottom: 3px solid #F1CDB3;
  color: #fff;
}

.header-pets .highlighted {
  color: #292929;
}

.main-nav-list {
  list-style: none;
}

.toggler {
  opacity: 0;
}

.heading-primary-main {
  color: #F1CDB3;
}

.logo-container {
  cursor: pointer;
}

.main-nav{
  display: flex;
  align-items: center;
}

/* .not-only-block {
  display: flex;
  flex-direction: column;
  gap: 4rem;
} */

.not-only-block p {
  font-size: 1.5rem;
  color: #CDCDCD;
  line-height: 160%;
  margin-bottom: 6rem;

}

h2 {
  font-size: 4.4rem;
  color: #fff;
  line-height: 130%;
}

.not-only-block {
  flex: 1;
  padding-bottom: 10rem;
}

.main-image-container {
  flex: 1.5;
}

.main-image-container {
  align-self: flex-end;
  height: 50%;
  display: flex;
  align-items: flex-end;
}

.main-image {
  width: 100%;
}

.content-container {
  max-width: 120rem;
  height: 100%;
  margin: 0 2rem;
}

.btn {
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  color: #292929;
  background-color: transparent;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #F1CDB3;
  width: 20.7rem;
  line-height: 130%;
}


.btn-secondary {
  background-color: #F1CDB3;
  line-height: 130%;
}

.btn-primary:hover, .btn-secondary:hover {
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #F1CDB3;
}

.btn-pets {
  box-shadow: inset 0 0 0 2px #F1CDB3;
  line-height: 130%;
}

h3 {
  font-size: 3.5rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.096rem;
}

.section-about {
  background-color: #fff;
  padding: 9rem 0;
}

.about-img-container, .text-container {
  flex: 1;
}

.about-img-container {
  height: 40rem;
}

.about-img-container img {
  height: 100%;
}

.text-container p {
  font-size: 1.5rem;
  color: #4C4C4C;
  line-height: 160%;
}

/* **************** */
/* SECTION FRIENDS */
/* **************** */

.section-friends {
  background-color: #F6F6F6;
  text-align: center;
  padding: 8rem 0;
  position: relative;
}

.pets-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 6rem 0;
  justify-items: center;
  padding: 0 7rem;
}


/* .pets-grid::before, .pets-grid::after {
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
} */

.btn-left, .btn-right {
  position: absolute;
  width: 5.2rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  background-color: rgb(246, 246, 246);
  border-radius: 50%;
  top: 50%;
  transform: translateY(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-left {
  left: 0;
  transform: translateX(100%);
}

.btn-right {
  right: 0;
  transform: translateX(-100%);
} 

.btn-right:hover, .btn-left:hover {
  background-color: #F1CDB3;
}

.pets-content {
  background-color: #fff;
  padding-bottom: 4rem;
  transition: all 0.3s;
}

.pets-content:hover {
  transform: translateY(-2rem);
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.20);
  background-color: #F6F6F6;
}

.pets-content:hover .btn-pets {
  background-color: #F1CDB3;
}

.pets-content img {
  transition: all 0.3s;
}

.pets-content:hover img {
  border-radius: 40%;
}

.pet-names {
  font-size: 2rem;
  color: #545454;
}

/* **************** */
/* SECTION HELP */
/* **************** */
.section-help {
  background-color: #fff;
  text-align: center;
  padding: 9rem 0;
}

.help-item img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 3rem;
}

.center-grid {
  flex-direction: column;
  gap: 5rem;
}

.grid-help {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 7rem;
}

/* .grid-1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 8rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} */

.help-items span {
  display: block;
  font-size: 2rem;
  color: #545454;
  line-height: 115%;
}

.help-items {
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.help-items--flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 30%;
  column-gap: 14rem;
  row-gap: 7rem;
}

.help-items:nth-child(5n - 11),
.help-items:nth-child(5n - 10) {
  min-width: 30%;
}

.help-items--1, .help-items--2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  flex-wrap: wrap;

}

/* **************** */
/* SECTION DONATION */
/* **************** */

.section-donation {
  background-color: #F6F6F6;
  padding: 9rem 0 9rem 10rem;
}

.donation-wrapper {
  display: flex;
  gap: 3rem;
}

.section-donation p {
  font-size: 1.2rem;
  font-style: italic;
  color: #B2B2B2;
  line-height: 2rem;
}

h5 {
  font-size: 1.5rem;
  color: #545454;
}

h4 {
  font-size: 2rem;
}

.donation-number {  
  color: #545454;
  padding: 0.5rem 1.75rem;
  border-radius: 9px;
  line-height: 25px;
  background-color: #F1CDB3;
}

.donation-number span {
  text-align: center;
  vertical-align: -11px;
  margin-right: 0.75rem;
}

.donation-number a {
  color: #545454;
}

.donation-number a:hover {
  border-bottom: 2px solid #545454;
}

.donation-icon {
  width: 3rem;
  height: 100%;
}

.donation-flex {
  display: flex;
  justify-content: right;
  gap: 2rem;
}

.flex--column {
  flex-direction: column;
}

.donation-puppy-wrapper img {
  width: 85%;
}

/* **************** */
/* FOOTER */
/* **************** */

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10rem;
  margin: 0 auto;
}

.footer-content:nth-child(5n - 11),
.footer-content:nth-child(5n - 10) {
  min-width: 30%;
}

footer {
  background-image: url('../../assets/icons/footer-gradient-background.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6rem;
}

.footer-pin {
  height: 3.2rem;
}

.footer-img-container {
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
}

footer h3 {
  color: #fff;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
} 

footer a {
  color: #F1CDB3;
  line-height: 115%;
}

footer h4 {
  color: #F1CDB3;  
}

footer h4 span img {
  width: 100%;
}

footer span {
  display: inline-block;
  width: 4rem;
  text-align: center;
  vertical-align: -8px;
  margin-right: 1.75rem;
}

.address-wrapper {
  display: flex;
}

.address-wrapper span {
  margin-left: 0.4rem;
}

.address-wrapper span img{
  width: 100%;
}

.footer-img-container img {
  width: 100%;
}

.address, .contact {
  margin-bottom: 5rem;
  padding: 0 1rem;
}

/* ************** */
/* PETS PAGE */
/* ************** */
.pets-header {
  max-width: 120rem;
  padding: 5.7rem 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #fff;
}

.heading-primary-pets {
  color: #545454;  
}

.header-pets p {
  color: #292929;
  font-size: 1.3rem;
}

.pets-nav {
  color: #545454;
}

.header-pets a {
  color: #545454;
}

.section-friends-page {
  text-align: center;
  padding: 5rem 0 10rem 0;
}

.pets-selection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 1rem;
  padding: 5rem 0;
}

.btn-slider {
 width: 5.2rem;
 height: 5.2rem;
 color: #292929;
 border: none;
 border-radius: 50%;
 font-size: 2rem;
 transition: all 0.3s;
}

.slider-current {
  background-color: #F1CDB3;
}

.slider-before {  
  box-shadow: inset 0 0 0 2px #CDCDCD;
  color: #CDCDCD;
}

.slider-after {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #F1CDB3;
  cursor: pointer;
}

.slider-after:hover {
  background-color: #F1CDB3;
}

@media (max-width: 950px){
  header {
    padding: 5.7rem 2rem;
  }

  .pets-content img {
    width: 70%;
  }

  .padding-right--bg {
    padding: 0;
  }

  .btn-right {
    transform: translateX(-50%);
  }

  .btn-left {
    transform: translateX(50%);
  }

  .section-donation {
    padding: 9rem 0;
  }

  .donation-puppy-wrapper img {
    width: 100%;
  }
}

@media (max-width: 1279px){
  .not-only-block {
    margin: 0 15%;
  }

  .main-image-container {
    align-self: center;
  }

  .padding-right--bg {
    padding: 0;
  }

  .make-friend-btn {
    text-align: center;
  }
  

  .not-only-block a {
    text-align: center;
  }
  
  .main-image-container { 
    justify-content: end;
  }

  .main-image {
    width: 80%;
  }

  #woody {
    display: none;
  }

  .pets-grid {
    grid-template-columns: 1fr 1fr;
  }

  .flex--center {
    flex-direction: column;
  }

  .help-items--grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 6rem);
    column-gap: 9rem; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 9rem;
  }

  .text-container {
    order: -1;
    width: 60%;
    padding-bottom: 4rem;
  }

  .donation-wrapper {
    flex-direction: column;
  }

  .donation-puppy-wrapper img {
    width: 70%;
  }

  .donation-flex {
    justify-content: center;
  }

  .donation-info {
    margin: 0 auto;
  }

  .donation-puppy-wrapper {
    order: 2;
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .footer-img-container img {
    width: 40%;
  }
  
  .footer-img-container {
    grid-column: 1 / -1;
    justify-content: center;
  }
}

@media (max-width: 710px){
  .footer-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .address, .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 600px){
  .help-items--grid {
    grid-template-columns: repeat(2, 1fr);
  }

  h3 {
    font-size: 2.5rem;
  }

  .pets-content img {
    width: 100%;
  }

  .help-items span {
    font-size: 1.5rem;
  }

  .donation-info {
    text-align: center;
  }

  .footer-img-container img {
    width: 65%;
  }

  .btn-left, .btn-right {
    position: static;
    /* display: inline-block; */
  }

  .pets-grid {
    margin-bottom: 3rem;
    padding: 0 1rem;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}

@media (max-width: 767px){
  
  .header-main {
    padding-right: 3rem;
  }

  .main-nav-list {
   position: absolute;
   visibility: hidden;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(24, 39, 51, 0.65);
   transition: all 0.3 ease;
  }

  .nav-flex {
    flex-direction: column;
  }

  .main-nav a {
    font-size: 3.2rem;
  }

  .main-nav .toggler {
    z-index: 2;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    opacity: 0;
  }

  .main-nav .hamburger {
    position: absolute;
    z-index: 1;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  } 

  .main-nav .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1CDB3;
    transition: all 0.3s ease;
  }

  .main-nav .hamburger > div:before,
  .main-nav .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -1rem;
    width: 100%;
    height: 3px;
    background-color: inherit;
  }

  .main-nav .hamburger > div:after {
    top: 1rem;
  }

  .main-nav .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  .main-nav .toggler:checked + .hamburger > div:before,
  .main-nav .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .main-nav .toggler:checked ~ .main-nav-list {
    visibility: visible;
  }
}

@media (max-width: 693px){
  #jennifer {
    display: none;
  }

  .pets-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 476px){
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .not-only-block {
    margin: 0;
    text-align: center;
  }

  .text-container {
    padding: 0 1rem;
    width: 100%;
  }

  .section-about {
    padding: 5rem 0;
   
  }
}